{% extends 'Student/Dashboard/seePro.html' %}

{% load static %}

<!--The head section-->
{% block head %}
{% endblock %}

<!--The rest section-->
{% block rest %}

<!--The toast section success-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="d-flex">

          <div class="toast-body">

            Job Approved Successfully!

          </div>

          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>

        </div>

    </div> 

</div>

<!--The toast section failure-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="failedToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="d-flex">

          <div class="toast-body">

            Job Approving Failed!

          </div>

          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>

        </div>

    </div> 

</div>



<!--The accept button-->
<div class="accept">

    <!--The button-->
    <div class="accBtn" id="accept">

        <span>Approve</span>

    </div>

    <form id="justApp">

        {% csrf_token %}

    </form>

    <!--The done btn-->
    <!--
        <div class="done">

        <span>Approved</span>

    </div>
    -->

</div>

<script>

    var job_id = "{{job.job_id}}";

</script>

{% endblock %}

<!--The script section-->
{% block script %}

<script src="{% static 'Js/Company/Dashboard/acceptApp.js' %}"></script>

{% endblock %}
