<!--This page inherits from index.html-->
{% extends 'Inherite/company.html' %}

{% load static %}

<!--The heading section-->
{% block head %}

<!--The title-->
<title>Attachment :: Company - Institutes</title>

<!--The dashboard css-->
<link rel="stylesheet" href="{% static '/Css/Institute/Dashboard/heads.css' %}">
<link rel="stylesheet" href="{% static '/Css/Student/Dashboard/opportunity.css' %}">
<link rel="stylesheet" href="{% static '/Css/Company/Dashboard/institutes.css' %}">



{% endblock %}

<!--The page user is in-->

{% block place %}Company Related Institutes{% endblock %}


<!--The body section-->
{% block body %}

<!--The search section-->

<div class="dep_search">

    <!--department add and number-->
    <div class="dep_add_num">

        <!--Department number-->
        <div class="dep_num">
            <h2>10</h2>
        </div>


    </div>

    <!--the actual search section-->
    <div class="dep_actual_search">

        <!--The search tab-->
        <input type="text" placeholder="Search">

        
        <!--The seach icon-->
        <div class="act_seach_icon">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"/></svg>

        </div>

    </div>

</div>


<!--This is where it is all opportunities-->
<div class="all_opps">

    <!--individual opoortunity-->

    <div class="ind_oops">

        <!--This is where the image, logo and numbers are-->
        <div class="logo_num_img">

            <!--The back image-->
            <div class="back_op_img">
                <img src="{% static 'Images/Company/Company.jpg' %}" alt="back">
            </div>

            <!--The number of opps-->
            <div class="ops_num">

                <span>2</span>

            </div>

            <!--the company logo-->
            <div class="logo_op">

                <img src="{% static 'Images/Company/Logo.jpg' %}" alt="logo">

            </div>

        </div>

        <!--Followers section-->
        <div class="follow_oops">

            <!--The actual foloowers-->
            <div class="act_followers">

                <span>10k</span>

            </div>

        </div>


        <!--The name and controls-->
        <div class="op_name_cont">

            <!--The op name-->
            <div class="opp_name">

                <span>Dkut</span>

            </div>


            <!--the opps controls-->
            <div class="opps_controls">

                <!--The visit-->
                <div class="op_visit">

                    <span>Visit</span>

                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}
