<!--This page inherits from index.html-->
{% extends 'Student/Dashboard/seePro.html' %}

{% load static %}

<!--The heading section-->
{% block head %}

<!--The title-->

<!--The dashboard css-->

<link rel="stylesheet" href="{% static '/Css/Lecturer/Dashboard/approveStud.css' %}">

{% endblock %}


<!--The rest section-->
{% block rest %}

<div class="approveSection">

    <!--The accept button-->
    <div class="acceptBTN">

        <span>Accept Request</span>

    </div>

</div>

{% endblock %}
