<!--This page inherits from index.html-->
{% extends 'Inherite/lecturer.html' %}

{% load static %}

<!--The heading section-->
{% block head %}

<!--The title-->

<!--The dashboard css-->
<link rel="stylesheet" href="{% static '/Css/Institute/Dashboard/heads.css' %}">
<link rel="stylesheet" href="{% static '/Css/Lecturer/Dashboard/map.css' %}">


{% endblock %}

<!--The page user is in-->

{% block place %}Students Map{% endblock %}

<!--The body section-->
{% block body %}

<div class="map">

    <div id="map">
        
    </div>


    <script>

        var google_api_key = "{{google_map_api}}";
        
    </script>

</div>


{% endblock %}

<!--The bottom section-->
{% block below %}

<script src="{% static 'Js/Lecturer/Dashboard/map.js' %}"></script>

{% endblock %}
