{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachment :: Request</title>

    <!--Font family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!--The ajax link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--The css file-->
    <link rel="stylesheet" href="{% static '/Css/Lecturer/Dashboard/request.css' %}">

    <!--Bootstrap css link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</head>
<body>

    <!--The toast section success-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body">
    
                Connection Request Success!!
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>

    <!--The toast section failure-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="failedToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body">
    
                Connection Request Failed!!
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>

    <!--The heading section-->
    {% if request.user.is_authenticated %}

    {% if same_uni == True %}

    {% if same_dep == True %}

    <div>
        
        <div class="head">

            <h2>Connect With {{head.lec_name}}</h2>

        </div>

        <!--The me and them image-->
        <div class="meThem">

            <!--The two connecting members-->
            <div class="imgAll">
                <img src="{{head.profile_image.url}}" alt="">
            </div>

            <div class="imgAll">
                <img src="{{request.user.student.profile_image.url}}" alt="">
            </div>

        </div>

        <!--The connect button-->
        <div class="conSect">

            <!--The btn-->
            <div class="connect" id="connect">

                <span>Connect</span>

            </div>

            <form>

                {% csrf_token %}

            </form>


            <!--The neccessary script-->
            <script>

                var head_id = "{{head.lec_id}}"

            </script>

        </div>

        <!--The other members-->
        <div class="otherMembers">

            <!--The inner section-->
            <div class="innerOther">

                <!--The heading-->
                <div class="otherHead">

                    <span>Other Members</span>

                </div>

                <!--The rest of the section-->
                <div class="otherRest">

                    <!--A single member-->
                    <div class="member">

                        <img src="{% static 'Images/Company/Logo.jpg' %}" alt="">

                    </div>

                </div>

            </div>

        </div>

    </div>

    {% else %}

    <div class="notLogged">

        <!--The head-->
        <div class="HeadLog">

            <span>You Are Not In The Same Department As {{head.lec_name}} !!</span>

        </div>


        <!--The logged not image-->
        <div class="logNotImg">

            <div class="theLogImg">

                <img src="{% static 'Images/Student/errorU.png' %}" alt="not found">

            </div>


        </div>

        <!--Log in section-->
        <div class="loginSec">

            <a href="">
                <button>Back</button>
            </a>

        </div>

    </div>

    {% endif %}

    {% else %}  
        
    <div class="notLogged">

        <!--The head-->
        <div class="HeadLog">

            <span>You Are Not In The Same Institute As {{head.lec_name}} !!</span>

        </div>


        <!--The logged not image-->
        <div class="logNotImg">

            <div class="theLogImg">

                <img src="{% static 'Images/Student/errorU.png' %}" alt="not found">

            </div>


        </div>

        <!--Log in section-->
        <div class="loginSec">

            <a href="">
                <button>Back</button>
            </a>

        </div>

    </div>

    {% endif %}

    {% else %}

    <!--The nit logged in image-->

    <div class="notLogged">

        <!--The head-->
        <div class="HeadLog">

            <span>You Are Not Authenticated !!</span>

        </div>


        <!--The logged not image-->
        <div class="logNotImg">

            <div class="theLogImg">

                <img src="{% static 'Images/Student/not.png' %}" alt="not found">

            </div>


        </div>

        <!--Log in section-->
        <div class="loginSec">

            <a href="">
                <button>Login</button>
            </a>

        </div>

    </div>

    {% endif %}

    <!--Boostrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</body>

<!--The Js Script-->
<script src="{% static 'Js/Student/Dashboard/connect.js' %}"></script>
</html>