{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachment :: Student - Company Opportunities</title>

    <!--Font family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!--The ajax link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--The css file-->
    <link rel="stylesheet" href="{% static '/Css/Student/Dashboard/campopps.css' %}">

    <!--Bootstrap css link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


</head>
<body>


    <!--The back image and the icon-->
    <div class="back_logo">

        <!--The back button-->

        <a href="{% url 'Student:Opportunity' %}">

            <div class="back_dash">

                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10.978 14.999v3.251c0 .412-.335.75-.752.75-.188 0-.375-.071-.518-.206-1.775-1.685-4.945-4.692-6.396-6.069-.2-.189-.312-.452-.312-.725 0-.274.112-.536.312-.725 1.451-1.377 4.621-4.385 6.396-6.068.143-.136.33-.207.518-.207.417 0 .752.337.752.75v3.251h9.02c.531 0 1.002.47 1.002 1v3.998c0 .53-.471 1-1.002 1z" fill-rule="nonzero"/></svg>
    
            </div>

        </a>

        <!--The back image -->
        <div class="back_img">

            <img src="{{company.act.url}}" alt="backImage">

        </div>
        
        <!--The logo section-->
        <div class="logo_back">

            <img src="{{company.logo.url}}" alt="Logo">

        </div>

    </div>


    <!--The company name and search-->
    <div class="name_search">

        <!--The name section-->
        <div class="com_name">

            <h2>{{company.company_name}}</h2>

        </div>

        <!--The serach section-->
        <div class="opp_search">

            <!--The oprion search-->
            <div class="the_opp_search">

                <!--the opportunity numbers-->
                <div class="num_opps">

                    <span>{{num_ops}}</span>

                </div>

                <!--The serach input-->
                <div class="search_input">

                    <!--the input section-->
                    <input type="text" placeholder="Search">

                    <!--The serach button-->
                    <div class="search_btn">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"/></svg>

                    </div>


                </div>

            </div>

        </div>

    </div>

    <!--The actual opps-->
    <div class="all_opps">

        <!--the individual opps-->

        {% for opp in opports %}

        <div class="ind_opp">

            <!--the name and date-->
            <div class="name_date">

                <h2>{{opp.job_name}} - {{opp.job_level}}</h2>

                <span>{{opp.created}}</span>

            </div>

            <!--The location-->
            <div class="opp_loc">

                <span>{{location.county}}, {{location.country}}</span>

            </div>

            <!--The controls and applicant no-->
            <div class="no_control">

                <span>18 Applicants</span>

                <a href="{% url 'Student:ind_opp' opp.job_id  %}">

                    <div class="apply">

                        <span>APPLY</span>
    
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M7 2c1.695 1.942 2.371 3 4 3h13v17h-24v-20h7zm4 5c-2.339 0-3.537-1.388-4.917-3h-4.083v16h20v-13h-11zm2 6h3v2h-3v3h-2v-3h-3v-2h3v-3h2v3z"/></svg>
    
                    </div>

                </a>


            </div>

        </div>

        {% endfor %}

    </div>

    
</body>
</html>