{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachment :: Student - Company Opportunities</title>

    <!--Font family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!--The ajax link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--The css file-->
    <link rel="stylesheet" href="{% static '/Css/Student/Dashboard/campopps.css' %}">
    <link rel="stylesheet" href="{% static '/Css/Student/Dashboard/indopp.css' %}">


    <!--Bootstrap css link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


</head>
<body>

    <!--Toast not Pdf-->
    <!--The toast section failure-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="notPDfToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body" id="profileFailState" >
    
                Application Failed!
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>

    <!--Toast is Pdf-->
    <!--The toast section success-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="isPDfToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body" id="profileSuccessState" >
    
                Application Successfully!
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>


    <!--The back image and the icon-->
    <div class="back_logo">

        <!--The back button-->
        <a href="{% url 'Student:company_Opps' job.company.company_profile_id %}">

            <div class="back_dash">

                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10.978 14.999v3.251c0 .412-.335.75-.752.75-.188 0-.375-.071-.518-.206-1.775-1.685-4.945-4.692-6.396-6.069-.2-.189-.312-.452-.312-.725 0-.274.112-.536.312-.725 1.451-1.377 4.621-4.385 6.396-6.068.143-.136.33-.207.518-.207.417 0 .752.337.752.75v3.251h9.02c.531 0 1.002.47 1.002 1v3.998c0 .53-.471 1-1.002 1z" fill-rule="nonzero"/></svg>
    
            </div>

        </a>

        <!--The back image -->
        <div class="back_img">

            <img src="{{job.company.act.url}}" alt="backImage">

        </div>
        
        <!--The logo section-->
        <div class="logo_back">

            <img src="{{job.company.logo.url}}" alt="Logo">

        </div>

    </div>


    <!--The company name and search-->
    <div class="name_search">

        <!--The name section-->
        <div class="com_name">

            <h2>{{job.company.company_name}}</h2>

        </div>

    </div>


    <!--The application details-->
    <div class="app_details">

        <!--The actual details-->
        <div class="act_det">

            <!--the job names and conrols-->
            <div class="job_name_conts">

                <!--the name-->
                <h2> {{job.job_name}} - {{job.job_level}}</h2>

                <!--The job controls-->
                <div class="job_share_details">

                    <!--The share button-->
                    <div class="share_btn">

                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M16.272 5.451c-.176-.45-.272-.939-.272-1.451 0-2.208 1.792-4 4-4s4 1.792 4 4-1.792 4-4 4c-1.339 0-2.525-.659-3.251-1.67l-7.131 3.751c.246.591.382 1.239.382 1.919 0 .681-.136 1.33-.384 1.922l7.131 3.751c.726-1.013 1.913-1.673 3.253-1.673 2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4c0-.51.096-.999.27-1.447l-7.129-3.751c-.9 1.326-2.419 2.198-4.141 2.198-2.76 0-5-2.24-5-5s2.24-5 5-5c1.723 0 3.243.873 4.143 2.201l7.129-3.75zm3.728 11.549c1.656 0 3 1.344 3 3s-1.344 3-3 3-3-1.344-3-3 1.344-3 3-3zm-15-9c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4zm15-7c1.656 0 3 1.344 3 3s-1.344 3-3 3-3-1.344-3-3 1.344-3 3-3z"/></svg>

                    </div>

                    <!--job infi-->
                    <div class="job_info">

                        <svg width="24" height="24" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 16.495c1.242 0 2.25 1.008 2.25 2.25s-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25 1.008-2.25 2.25-2.25zm0-6.75c1.242 0 2.25 1.008 2.25 2.25s-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25 1.008-2.25 2.25-2.25zm0-6.75c1.242 0 2.25 1.008 2.25 2.25s-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25 1.008-2.25 2.25-2.25z"/></svg>

                    </div>

                </div>

            </div>

            <!--the number of applicants and location-->
            <div class="no_of_app_loc">

                <span>{{location.county}}, {{location.country}}({{job.job_location}})</span>

                <span id="applsCount" >{{job.jobapplicants.applicants.count}} </span><span> Applicants</span>

            </div>

            <!--Apply and save-->
            <div class="apply_save_conts">

                <!---Apply job-->

                {% if this_student_apply == False %}

                <div class="job_apply" id="job_apply" >

                    <span>Apply</span>

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11.386l1.17-1.206c1.951.522 5.313 1.731 8.33 3.597 3.175-4.177 9.582-9.398 13.456-11.777l1.044 1.073-14 18.927-10-10.614z"/></svg>

                </div>

                {% else %}

                <div class="job_apply job_act" id="job_apply" >

                    <span>Apply</span>

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11.386l1.17-1.206c1.951.522 5.313 1.731 8.33 3.597 3.175-4.177 9.582-9.398 13.456-11.777l1.044 1.073-14 18.927-10-10.614z"/></svg>

                </div>

                {% endif %}

                <!--Save the job-->

                <div class="job_save">

                    <span>Save</span>

                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23 24v-20h-8v2h6v16h-18v-16h6v-2h-8v20h22zm-12-13h-4l5 6 5-6h-4v-11h-2v11z"/></svg>

                </div>

            </div>

            <!--the job detaisl-->
            <div class="job_details">{{job.job_decr | safe}}</div>

        </div>

    </div>

    <script>

        var jobID = '{{job.job_id}}'

    </script>

    <form method="post" id="applyJob" >

        {% csrf_token %}

        <button type="submit" id="sendApply" >Apply</button>

    </form>

    <!--Boostrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    
</body>

<!--The scripts-->
<script src="{% static 'Js/Student/Dashboard/apply.js' %}"></script>

</html>