{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachment :: Student - {{request.user.student.stud_name}}</title>

    <!--Font family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!--The ajax link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--The css file-->
    <link rel="stylesheet" href="{% static '/Css/Student/Dashboard/profile.css' %}">

    <!--Bootstrap css link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


</head>
<body>

    <!--the modal-->
    <!-- Modal -->
    <div class="modal fade" id="studentWrite" tabindex="-1" aria-labelledby="studentWriteLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Personal Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <!--Student personal info-->
                    <div class="studPerson">

                        <!--The inputs-->
                        <input type="text" id="studentNameIn" placeholder="Full Name" value="{{request.user.student.stud_name}}">

                        <input type="text" id="studentPhoneIn" placeholder="Phone Number" value="{{request.user.student.stud_phone}}" >

                    </div>
                

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>

            </div>

        </div>

    </div>


    <!--University-->
    <div class="modal fade" id="uniSelect" tabindex="-1" aria-labelledby="uniSelectLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select University</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <!--Select the university-->
                    <div class="uniSeeSelect">

                        <div class="searchUni">

                            <input type="text" placeholder="Search University">

                        </div>

                        <!--Select university-->
                        <div class="selectUni">

                            <!--Inidvidual schol-->
                            {% for school in schools %}
                            <div class="indSelectUni">

                                <div class="uniImg">

                                    <img class="schoolImageSetClass" src="{{school.logo.url}}" alt="">

                                </div>

                                <span class="changeUniName" >{{school.institute_name}}</span>

                                <span class="selUniId" >{{school.institute_profile_id}}</span>

                                <input type="checkbox" class="selIniCheck">

                            </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>

            </div>

        </div>

    </div>

    <!--Departments-->
    <!-- Modal -->
    <div class="modal fade" id="depSelectModal" tabindex="-1" aria-labelledby="depSelectModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select Department</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body">
               
                    <!--Select the department-->
                    <div class="uniSeeSelect">

                        <div class="searchUni">

                            <input type="text" placeholder="Search Department">

                        </div>

                        <!--Select university-->
                        <div class="selectUni1"  id="selectDepartSee">

                            <!--Inidvidual schol-->
                            <div class="indSelectUni1">

                                <span class="changeDepartNameClass" ></span>

                                <span class="selDepId" ></span>

                                <input type="checkbox" class="selDepCheck">

                            </div>


                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>

            </div>

        </div>

    </div>


    <!--Toast not Pdf-->
    <!--The toast section failure-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="notPDfToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body" id="profileFailState" >
    
                File Selected Not PDF!
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>

    <!--Toast is Pdf-->
    <!--The toast section success-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="isPDfToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body" id="profileSuccessState" >
    
                File Selected Successfully!
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>

    <!--The courses-->
    <!-- Modal -->
    <div class="modal fade" id="selectCouseModal" tabindex="-1" aria-labelledby="selectCouseModalLabel" aria-hidden="true">
        
        <div class="modal-dialog">

            <div class="modal-content">
                
                <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select Course</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body">
                
                    <!--Select the department-->
                    <div class="uniSeeSelect">

                        <div class="searchUni">

                            <input type="text" placeholder="Search Course">

                        </div>

                        <!--Select university-->
                        <div class="selectUni2"  id="selectCourseSee">

                            <!--Inidvidual schol-->
                            <div class="indSelectUni2">

                                <span class="changeCourseNameClass" ></span>

                                <span class="selCourseId" ></span>

                                <input type="checkbox" class="selCourseCheck">

                            </div>


                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->

                </div>

            </div>

        </div>

    </div>

    <!--The back image and profile-->
    <div class="back_profile">

        <!--back to dash-->
        <div class="back">

            <svg width="24" height="24" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10.978 14.999v3.251c0 .412-.335.75-.752.75-.188 0-.375-.071-.518-.206-1.775-1.685-4.945-4.692-6.396-6.069-.2-.189-.312-.452-.312-.725 0-.274.112-.536.312-.725 1.451-1.377 4.621-4.385 6.396-6.068.143-.136.33-.207.518-.207.417 0 .752.337.752.75v3.251h9.02c.531 0 1.002.47 1.002 1v3.998c0 .53-.471 1-1.002 1z" fill-rule="nonzero"/></svg>

        </div>

        <!--Change back-->
        <div class="back1" id="studentBackImage" >

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>

        </div>

        <!--The back image-->
        <img src="{{request.user.student.act.url}}" id="studentBackSee" alt="profile_back">

        <!--The profile image-->
        <div class="profile_img">

            <div class="inner_profile">

                <img src="{{request.user.student.profile_image.url}}" id="studentProSee" alt="student">

                <div class="back2" id="studentProfileImage">

                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>
        
                </div>

            </div>


        </div>

    </div>

    <!--seperator-->
    <div class="sep">
    </div>

    <!--The profile bog-->
    <div class="rest_profile">

        <!--The profile contaimres-->
        <div class="contain_pp">

            <!--The heading-->
            <div class="pp_head"><span>Personal Information</span></div>

            <div class="personal_change">

                <!--Full name-->
                <div class="one_change">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"/></svg>

                    <span id="newStudentNameC" >{{request.user.student.stud_name}}</span>

                </div>

                <!--the email-->
                <div class="one_change">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.02c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 12.55l-5.992-4.57h11.983l-5.991 4.57zm0 1.288l-6-4.629v6.771h12v-6.771l-6 4.629z"/></svg>

                    <span>{{request.user.email}}</span>

                </div>

                <!--Phone-->
                <div class="one_change">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18 2v18.562c-.438.519-2.8 1.438-5.995 1.438-3.197 0-5.563-.92-6.005-1.439v-18.561h12zm0-2h-12c-1.105 0-2 .896-2 2v18.678c-.001 2.213 4.503 3.322 8.005 3.322 3.498 0 7.995-1.106 7.995-3.322v-18.678c0-1.104-.895-2-2-2zm-6 20c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1zm5-3h-10v-13h10v13z"/></svg>

                    <span id="newStudentPhoneC" >{{request.user.student.stud_phone}}</span>

                </div>

            </div>

            <!--The change button-->
            <div class="btn_change">

                <!--The button-->
                <div class="change_now_press" data-bs-toggle="modal" data-bs-target="#studentWrite">

                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>


                </div>

            </div>

        </div>

        <!--The profile contaimres-->
        <div class="contain_pp">

             <!--The heading-->
             <div class="pp_head"><span>Education Information</span></div>


             <div class="now_school">

                <!--The institute-->
                <div class="pp_school">

                    <!--School image-->
                    <div class="school_img">

                        {% if request.user.student.institute.logo.url %}

                        <img id="schoolImageSetID" src="{{request.user.student.institute.logo.url}}" alt="">

                        {% else %}

                        <img id="schoolImageSetID" src="{% static 'Images/Institute/dkut.png' %}" alt="">

                        {% endif %}

                    </div>

                    {% if request.user.student.institute %}

                    <span id="changeUniNameID" >{{request.user.student.institute}}</span>

                    {% else %}

                    <span id="changeUniNameID" >University</span>

                    {% endif %}

                    <!--Change school-->
                    <div class="change_school" data-bs-toggle="modal" data-bs-target="#uniSelect">

                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>

                    </div>

                </div>
   
                <!--The department-->
                <div class="pp_school">

                    <div class="pp_svg">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 6v16h-16v-16h16zm2-2h-20v20h20v-20zm-24-4v20h2v-18h18v-2h-20zm14 11h-6v-1h6v1zm0 1h-6v1h6v-1zm0 2h-6v1h6v-1zm0 2h-6v1h6v-1zm1-4l2.5 3 2.5-3h-5z"/></svg>

                    </div>

                    {% if request.user.student.department %}

                    <span id="changeDepartNameID" >{{request.user.student.department}}</span>

                    {% else %}

                    <span id="changeDepartNameID" >Department</span>

                    {% endif %}

                    <!--Change school-->
                    <div class="change_school" data-bs-toggle="modal" data-bs-target="#depSelectModal" >

                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>

                    </div>
                   
                </div>
   
                <!--The course-->
                <div class="pp_school">

                    <div class="pp_svg">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5.495 2h16.505v-2h-17c-1.657 0-3 1.343-3 3v18c0 1.657 1.343 3 3 3h17v-20h-16.505c-1.375 0-1.375-2 0-2zm6.681 17c-.573 0-1.04-.467-1.04-1.042 0-.576.467-1.042 1.04-1.042.576 0 1.042.466 1.042 1.042 0 .575-.466 1.042-1.042 1.042zm.034-10c1.644 0 2.81 1.015 2.79 2.666-.015 1.134-.705 1.878-1.259 2.477-.832.896-.766 1.336-.766 1.941h-1.644c0-1.311-.045-1.84 1.174-2.999.469-.446.839-.799.788-1.493-.048-.66-.599-1.004-1.118-1.004-.883 0-1.26.785-1.26 1.746h-1.647c0-2.212 1.262-3.334 2.942-3.334z"/></svg>

                    </div>

                    {% if request.user.student.course %}

                    <span id="changeCourseNameID" >{{request.user.student.course}}</span>

                    {% else %}

                    <span id="changeCourseNameID" >Course</span>

                    {% endif %}

                    <!--Change school-->
                    <div class="change_school" data-bs-toggle="modal" data-bs-target="#selectCouseModal">

                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>

                    </div>
                    
                </div>

             </div>

        </div>

        <!--The profile contaimres-->
        <div class="contain_pp">

             <!--The heading-->
             <div class="pp_head"><span>Documents</span></div>

             <div class="all_files_pp">

                <div class="file_pp">

                    <!--Fill type-->
                    <div class="fill_img">

                        <img src="{% static 'Images/Student/pdf.png' %}" alt="file_type">

                    </div>

                    {% if request.user.student.cv_name != '' %}

                    <a href="{{request.user.student.cv.url}}">

                        <span id="cvName" >{{request.user.student.cv_name}}</span>

                    </a>

                    {% else %}

                    <span id="cvName" >CV</span>

                    {% endif %}

                    <!--Change school-->
                    <div class="change_school" id="selectCV" >

                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>

                    </div>

                </div>

                <div class="file_pp">

                    <!--Fill type-->
                    <div class="fill_img">

                        <img src="{% static 'Images/Student/pdf.png' %}" alt="file_type">

                    </div>
                    

                    {% if request.user.student.rec_name != '' %}

                    <a href="{{request.user.student.rec.url}}">

                        <span id="recName" >{{request.user.student.rec_name}}</span>

                    </a>

                    {% else %}

                    <span id="recName" >Recommendation</span>

                    {% endif %}

                    <!--Change school-->
                    <div class="change_school" id="selectRec" >

                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.963 8.261c-.566-.585-.536-1.503.047-2.07l5.948-5.768c.291-.281.664-.423 1.035-.423.376 0 .75.146 1.035.44l-8.065 7.821zm-9.778 14.696c-.123.118-.185.277-.185.436 0 .333.271.607.607.607.152 0 .305-.057.423-.171l.999-.972-.845-.872-.999.972zm8.44-11.234l-3.419 3.314c-1.837 1.781-2.774 3.507-3.64 5.916l1.509 1.559c2.434-.79 4.187-1.673 6.024-3.455l3.418-3.315-3.892-4.019zm9.97-10.212l-8.806 8.54 4.436 4.579 8.806-8.538c.645-.626.969-1.458.969-2.291 0-2.784-3.373-4.261-5.405-2.29z"/></svg>

                    </div>

                </div>

             </div>

        </div>

    </div>


    <!--The submit section-->
    <div class="submitBTNs">

        <!--Reset sending-->
        <div id="defaultProf" onClick="document.location.reload(true)">

            <span>Discharge</span>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg>

        </div>

        <!--Send form,-->
        <div id="sendFormPr">

            <span>Update</span>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11.386l1.17-1.206c1.951.522 5.313 1.731 8.33 3.597 3.175-4.177 9.582-9.398 13.456-11.777l1.044 1.073-14 18.927-10-10.614z"/></svg>

        </div>

    </div>

    <!--Get departments-->
    <form method="post" id="getDeps">

        {% csrf_token %}

        <input type="text" id="uniGetID" value="{{request.user.student.institute.institute_profile_id}}" >

        <button id="getDEpsBtn" type="submit" >getDEps</button>

    </form>

    <!--Get courses-->
    <form method="post" id="getCourses">

        {% csrf_token %}

        <input type="text" id="depGetID" value="{{request.user.student.department.dep_id}}" >

        <button id="getCoursesBtn" type="submit" >getCourse</button>

    </form>



    <form method="post" id="upStudProfForm" >

        {% csrf_token %}

        <!--The back image-->
        <input type="file" id="stuBackImg" accept="image/*" onchange="previewImage1(event)">

        <!--The profile image-->
        <input type="file" id="stuProImg" accept="image/*" onchange="previewImage(event)">


        <!--The select image type-->
        <script>


            //Selecting The profile image
            const previewImage = e => {
                const reader = new FileReader();
                reader.readAsDataURL(e.target.files[0]);
                reader.onload = () => {
                    const preview = document.getElementById('studentProSee');
                    preview.src = reader.result;
                };
            };


            //Selecting The back image
            const previewImage1 = e => {
                const reader = new FileReader();
                reader.readAsDataURL(e.target.files[0]);
                reader.onload = () => {
                    const preview = document.getElementById('studentBackSee');
                    preview.src = reader.result;
                };
            };

        </script>

        <!--The cv-->
        <input type="file" id="cv">

        <!--The recomendation-->
        <input type="file" id="recommend">

        <!--The id of course-->
        <input type="text" id="setCourseID" value="{{request.user.student.course.Course_id}}" >

        <button type="submit" id="sendProfileBTN" >sendProfileBTN</button>

    </form>
    

<!--Boostrap Link-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</body>

<!--The javascript-->
<script src="{% static 'Js/Student/Dashboard/profileUpdate.js' %}"></script>
<script src="{% static 'Js/Student/Dashboard/sendProfile.js' %}"></script>
<script src="{% static 'Js/Student/Dashboard/shortProf.js' %}"></script>


</html>